## Manipulating DataFrames

I probably don't have to tell you that data professionals spend a *lot* of time preparing and cleaning data.

Python can help you automate and reduce errors in this work! But it does take the investment of learning.

Let's look at the `pandas` way of performing common 

- Adding and dropping columns
- Sorting and filtering
- Merging DataFrames (think `VLOOKUP()`)
- Grouping DataFrames (think PivotTables)

## Adding and dropping columns

When we work with data we frequently need to derive new columns based on existing columns.

Conversely we may actually want to drop unhelpful columns. Let's take a look

### Working with columns in `pandas`

They are always in brackets `[]`

In [24]:
state_pop[['Population','name']]

     Population     name
0       4785492  Alabama
1       4799918  Alabama
2       4815960  Alabama
3       4829479  Alabama
4       4843214  Alabama
..          ...      ...
352      576765  Wyoming
353      582684  Wyoming
354      583642  Wyoming
355      586555  Wyoming
356      585501  Wyoming

[357 rows x 2 columns]

### Sorting a DataFrame

But before we go any further what do we need to do?

In [1]:
### Don't forget! ###
import pandas as pd

In [3]:
# Let's read our data in while we're at it
state_pop = pd.read_csv("data/state-populations.csv")
print(state_pop.head())

census_div = pd.read_csv("data/census-divisions.csv")
print(census_div.head())

name  Year  Population
0  Alabama  2010     4785492
1  Alabama  2011     4799918
2  Alabama  2012     4815960
3  Alabama  2013     4829479
4  Alabama  2014     4843214
           state code     region     division
0    Connecticut   CT  Northeast  New England
1          Maine   ME  Northeast  New England
2  Massachusetts   MA  Northeast  New England
3  New Hampshire   NH  Northeast  New England
4   Rhode Island   RI  Northeast  New England

## Grouping DataFrames

Let's say you wanted to know the average population of each state for the time period.

An easy way of doing this in Excel would be with a PivotTable. You could place your *state* along the Rows and then set the value of population to get the average:

![Example of a PivotTable](images/pivot.gif)

| Method    | Aggregation type |
| --------- | ---------------- |
| `sum()`   | Sum              |
| `count()` | Count values     |
| `mean()`  | Average          |
| `max()`   | Highest value    |
| `min()`   | Lowest value     |

This is called method *chaining*.

In [20]:
state_pop.groupby('name')[['Population']].mean()

                        Population
name
Alabama               4.827320e+06
Alaska                7.315743e+05
Arizona               6.645479e+06
Arkansas              2.957693e+06
California            3.832580e+07
Colorado              5.280498e+06
Connecticut           3.587521e+06
Delaware              9.258881e+05
District of Columbia  6.458149e+05
Florida               1.965976e+07
Georgia               1.000311e+07
Hawaii                1.401453e+06
Idaho                 1.618939e+06
Illinois              1.285143e+07
Indiana               6.564987e+06
Iowa                  3.092703e+06
Kansas                2.888544e+06
Kentucky              4.396848e+06
Louisiana             4.621248e+06
Maine                 1.329369e+06
Maryland              5.918813e+06
Massachusetts         6.698310e+06
Michigan              9.900244e+06
Minnesota             5.416287e+06
Mississippi           2.984918e+06
Missouri              6.043585e+06
Montana               1.015062e+06
Nebraska              1.868378e+06
Nevada                2.802503e+06
New Hampshire         1.324695e+06
New Jersey            8.888891e+06
New Mexico            2.079408e+06
New York              1.962992e+07
North Carolina        9.844859e+06
North Dakota          7.201141e+05
Ohio                  1.157436e+07
Oklahoma              3.846260e+06
Oregon                3.945345e+06
Pennsylvania          1.276807e+07
Rhode Island          1.054034e+06
South Carolina        4.783088e+06
South Dakota          8.422886e+05
Tennessee             6.499192e+06
Texas                 2.652470e+07
Utah                  2.904797e+06
Vermont               6.262803e+05
Virginia              8.241045e+06
Washington            6.990209e+06
West Virginia         1.848523e+06
Wisconsin             5.739130e+06
Wyoming               5.781979e+05

## Merging DataFrames

In the last chapter we worked on